<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/index.css" rel="stylesheet" type="text/css"/>
    <title>Futurus</title>
    <style>
        /* para celular: */
 [class*="col-"] {
   width: 100%;
 }
        @media only screen and (min-width: 600px) {
   /* para tablets: */
   .col-s-1 {width: 8.33%;}
   .col-s-2 {width: 16.66%;}
   .col-s-3 {width: 25%;}
   .col-s-4 {width: 33.33%;}
   .col-s-5 {width: 41.66%;}
   .col-s-6 {width: 50%;}
   .col-s-7 {width: 58.33%;}
   .col-s-8 {width: 66.66%;}
   .col-s-9 {width: 75%;}
   .col-s-10 {width: 83.33%;}
   .col-s-11 {width: 91.66%;}
   .col-s-12 {width: 100%;}
 }
 @media only screen and (min-width: 768px) {
   /* para desktop: */
   .col-1 {width: 8.33%;}
   .col-2 {width: 16.66%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.66%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.66%;}
   .col-9 {width: 75%;}
   .col-10 {width: 83.33%;}
   .col-11 {width: 91.66%;}
   .col-12 {width: 100%;}
 }
     </style>
</head>
<body>
    <div class="containerPrincipal">
        <header>
            <div class="logo">
                <a href="index.html">
                    <img src="images/Logo.png" alt="logo site">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="sobre.html">Sobre nós</a></li>
                    <li><a href="app.html">App Futurus Infância</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="educacao.html">Educação</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
        </header>
        <div id="chamada">
            <p> O que fazemos?</p>
        </div>

        <div id="texto">
            <p> Trabalhamos com projetos internos e externos. Nos <b>projetos internos</b>, concentramos
              nossas ações para o desenvolvimento dos colaboradores, através do acompanhamento individual,
              objetivos pessoais, além da promoção de treinamentos internos e reuniões, com apresentação de conteúdo 
              diverso a fim de propiciar a interdisciplinaridade entre os participantes. Por fim, um dos objetivos 
              principais do projeto é desenvolver ideias, projetar e aplicar através da  criação de produto. Para isso,
              participamos de desafios para nos testar e colocar nossa capacidade de resolução de problemas e propor 
              soluções à prova.</p>
            <p>Os <b>projetos externos</b> são orientados pela divulgação científica. Criamos conteúdo baseado em 
                conhecimento científico, a partir do interesse e competência dos colaboradores. Além disso, promovemos
            eventos para o público externo como cursos, lives e podcasts.</p>
            <p></p>
        </div>
        <div id="chamada">
            <h3>Acompanhe nossos trabalhos nas redes sociais</h3>
        </div>
        <a href="https://www.youtube.com/channel/UCLvdW12w7Mw7Q7iyZL720xQ/videos"><img src="https://yt3.ggpht.com/ytc/AAUvwnjXDucik8E9I6jUpac__o0M6e-2bd83707uqphZrw=s900-c-k-c0x00ffffff-no-rj" 
                width="200px" padding="50px"></a>
        <a href="https://www.instagram.com/futurus.uerj/"><img src="https://pbs.twimg.com/profile_images/1306051401236099072/nuSA8oqW_400x400.jpg" 
                width="200px" padding="50px"></a>
        <a href="https://www.facebook.com/futurusuerj2020"><img src="https://www.facebook.com/images/fb_icon_325x325.png" 
                width="130px" padding="50px"></a>
        <a href="https://www.linkedin.com/in/futurus-uerj-5236891aa/"><img src="https://pbs.twimg.com/profile_images/1082974032482443265/8gsUI9oA_400x400.jpg" 
                width="200px" padding="100px"></a>  
        
        <!--<select>
            <option value="Ecobricks">Ecobricks</option>
            <option value="Excel">Excel</option>
            <option value="SPSS">SPSS</option>
        </select>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qAkoKYROKWU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
        <!--
        <div id="slider">
            <img class="selected" src="https://images.unsplash.com/photo-1530432999454-016a47c78af3?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image1">
            <img src="https://images.unsplash.com/photo-1562514947-bf9cf8e45d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image2">
            <img src="https://images.unsplash.com/photo-1562526109-878e3d276ceb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image3">
            <img src="https://images.unsplash.com/photo-1504870444519-3c678061c754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image4">
        </div> -->
        
        <!--
        <div id="openModal" class="modalDialog"></div>
        <div>
            <a href="#close" class="close">X</a>
            <h2>Futurus</h2>
            <p>A <strong>Futurus</strong> nasceu a partir da associação de estudantes
                de diferentes cursos da UERJ com o propósito de realizar a colaboração 
                entre os cursos, criar uma conexão entre carreira acadêmica e profissional, 
                além de incentivar o empreendedorismo no círculo universitário</p>
        </div>
        <div id="openModal1" class="modalDialog"></div>
        <div>
            <a href="#close" title="Close" class="close">X</a>
            <h2>Tecnologia</h2>
            <p>Estudar tecnologia é crucial para se manter atualizado no mercado e
                criar algo diferenciado, ou inovador.
            </p>
        </div>
        <div id="openModal2" class="modalDialog"></div>
        <div>
            <a href="#close" title="Close" class="close">X</a>
            <h2>Pesquisa</h2>
            <p>A pesquisa científica é aquela capaz de gerar ou atualizar o conhecimento.
                Através dela, é possível alimentar os dados necessários para o funcionamento
                de diversos mercados.
            </p>
        </div>

        Hello World-->
    
</body>
</html>